<div>
  <link href="./services-card.css" rel="stylesheet" />
  <div class="services-card">
    <div class="services-card-container">
      <img
        alt="image"
        src="public/icons-200h.png"
        class="services-card-image"
      />
    </div>
    <span class="services-card-text"><span>Friendly AI Chatbot</span></span>
    <span class="services-card-text1">
      <span>
        Meet your personal health companion - Sam. Engage in natural, friendly
        conversations about your health with her, receive personalized
        recommendations, and track your well-being effortlessly.
      </span>
    </span>
  </div>
</div>
